# ===============================
# Java / Maven
# ===============================
*.class
target/

# ===============================
# Logs
# ===============================
logs/
*.log

# ===============================
# Archives
# ===============================
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# ===============================
# Maven wrapper & temp files
# ===============================
.mvn/
mvnw
mvnw.cmd
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# ===============================
# IDE files
# ===============================
.idea/
*.iml
.vscode/
.settings/
.project
.classpath

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Environment & Secrets (VERY IMPORTANT)
# ===============================
application.properties
.env

# ===============================
# Resume / Attachments (PRIVATE)
# ===============================
resume/
*.pdf

# ===============================
# Local databases
# ===============================
*.db
*.sqlite
